/*Personalização do Corpo do html*/

body {
    background-color: rgba(255, 255, 255, 0.651);
    font-size: 20px;
    color:rgb(105, 105, 105);
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    width:100%;
    padding: auto;
    margin: auto;
}

.central {
    text-align: center;
    border: 5px solid green;
    border-top: none;
    border-left: none;
    border-right: none;
}


.tabelaCalc {
  width: 80%;
  max-width: 1000px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

.header{
  display:inline-block;
}

fieldset{
  border: none;
  padding:2rem 0;
  border-bottom:4px solid #ffd000;
}
select{
  border-radius: 20px;
  padding:0 5px;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}
option{
  font-family:italic;
  font-size: 17px;
}

.topnav {
    min-width: 300px;
    min-height: 50px;
    background-color: #2d9c65;
    overflow: hidden;
    padding: 10px;
    border-radius: 35px;
    margin: 3px 5px;
}
  

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    
    text-decoration: none;
    font-size: 17px;
}
  

.topnav a:hover {
    background-color: #ddd;
    color: rgb(0, 139, 46);
    border-radius: 35px;
}
  

.topnav a.active {
    background-color: #0a885a;
    color: white;
    border-radius: 35px;
}

.titulo-item {
  width: auto;
  height: auto;
  margin: auto;
  margin-bottom: 0;
 
}

.Div100{
  width: 100%;
  display: inline;
}

.conteudo{
  width:80%;
  float:inline-start;
  margin: auto;
}

.text_img{
 padding-top: 20px;
 text-align: justify;
 margin:auto;
 margin-left: 0px;
}

.rigthimg{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px 10px;
}

.Entre_Topico{
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background-color: aqua;
  
}

.Marcador{
  width: 20px;
  height: 50px;
  border:none;
  padding-bottom: none;
  background-color: #0c5832;
  margin: auto;
  margin-right: 0px;
  margin-top: 20px;
}

.Box-item{
  margin-top: 20px;
  margin-left: 20px;
  min-width: 250px;
  min-height: 250px;
  border: 5px solid rgb(217, 255, 0);
  border-radius: 20px;
  box-sizing: content-box;

}

.More-item{
  margin: 50px 25px 25px;
  padding: auto;
  width: 50px;
  height: 50px;
}

.itens{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px 10px;
}

button{
  width: 250px;
  height: 40px;
  font-size: 20px;
  border-radius: 20px;
  background-color: #0a885a73;
}

.butoncenter{
  width: 250px;
  height: 100px;
  margin:auto;
}

input {
  width:100%;
}

.resposta{
  width: 100%;
  padding-top: 20px;
  height: 40%;
  margin:auto;
}

.conteudoI{
  width:100%;
  float:inline-start;
  margin: auto;
}

.respostaF{
  border: #000000;
}
